body {
	
}

.navbar {
	width: 100%;
	text-align: end;
}

.main-button {
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	font-size: 24px;
}

@media only screen and (min-width: 600px) {
	.main-button {
		font-size: 16px;
	}
	
}

.main-button:disabled {
	background: #2e2d2b;
	color: rgb(189, 189, 189);
}

.main-button:enabled:hover {
	background: #EA7B00;
	color: #fff;
}

#toogleViewButton:disabled:hover {
	background: #2e2d2b;
	color: rgb(189, 189, 189);
}

#queryView {
    margin: auto;
    width: min-content;
    --set-font-size: 1.0em;
    --inputs-width: 48%;
    --labels-width: 20%;
	display: block;
	margin-top: 5vh;
}

.formField {
    display: grid;
    grid-template-columns: 120px 220px;
    grid-template-rows: min-content min-content;
    grid-gap: 5px;
}

#searchMarsRoversCapturedPhotos label {
    align-self: center;
    
}

#searchMarsRoversCapturedPhotos .errorMessage {
    align-self: flex-start;
    justify-self: start;
    grid-column-start: 2;
    color: rgb(163, 0, 0);
	min-height: 2em;
	padding: 5px 0px;
}

#searchMarsRoversCapturedPhotos .input-field-image {
    outline: none;
    align-self: center;
}

#searchMarsRoversCapturedPhotos select {
	height: 100%;
}

.input-field
{
    align-self: center;
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}

#searchMarsRoversCapturedPhotos span.required{
	color:red;
}
#searchMarsRoversCapturedPhotos input:focus{
	border: 2px solid rgb(4, 0, 255);
}

#searchMarsRoversCapturedPhotos .valid{
	border: 2px solid rgb(68, 216, 0);
}

#searchMarsRoversCapturedPhotos .invalid{
	border: 2px solid rgb(255, 0, 0);
}

.formField button{
	grid-column: span 2;
}

@keyframes toggleViewAniamtion {
    from {
        transform: scale(1);
		opacity: 1;
    }
	to {
        transform: scale(0);
        opacity: 0;
	}
  }
